#action-bar {
  text-align: left;
  margin-top: 56px;
  min-width: 1101px;
  max-width: 1101px;
  background: #eaecef;
  height: 56px;
  padding: 9px;
  padding-left: 16px;
  padding-top: 15px;
}

#play-button,
#upload-button,
#download-button,
#save-button {
  margin-left: 0.5rem;
  margin-bottom: 0px;
}

#audio-controller {
  display: inline;
}

#controls {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  right: 0px;
}
