body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: #eaecef; */
}

main {
  padding: 10px 0px 15px 0px;
  background: #eaecef;
  max-width: 1101px;
  min-width: 1101px;
}

.navbar {
  min-width: 1101px;
  max-width: 1101px;
}

.container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 15px;
  min-width: 1070px;
  max-width: 1070px;
}

.app {
  text-align: center;
}

#keyboard-wrapper,
#spectrum-wrapper,
#full-spectrum,
#key-spectrum-wrapper,
#key-spectrum {
  width: 1070px;
}

#keyboard-wrapper {
  height: 100px;
  margin-top: -16px;
}

/******************************************************************************
 * Absolute Center Spinner
 */

.busy {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.busy:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.busy:not(:required) {
  /* hide "Loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.busy:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(255, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(255, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(255, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(255, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(255, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(255, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(255, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(255, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(255, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(255, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(255, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(255, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(255, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(255, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
