.audio-button {
  width: 1rem;
}

#play-button.active {
  background: lightgreen;
}

#listen-button.active {
  background: rgb(199, 2, 2);
}

#listen-button.threshold {
  background: red;
}

#listen-button:focus,
#play-button:focus {
  outline: solid 3px #73a6ff;
}
