#signal-wrapper,
#filtered-signal {
  width: 1070px;
  margin: 0px 0px 0px 0px;
}

#beat-filter-page #signal-wrapper,
#beat-filter-page #filtered-signal {
  background-color: black;
  height: 300px;
}

#beat-filter-bps {
  color: #00ffff;
  background: black;
  width: 1070px;
}
