#spectrum-wrapper,
#full-spectrum,
#key-spectrum-wrapper,
#key-spectrum {
  background-color: black;
  height: 300px;
}

#peak-hz,
#key-spectrum-info {
  color: #00ffff;
  background: black;
  width: 1070px;
}

#key-spectrum-info {
  margin-top: 12px;
  height: 24px;
}
