ul#keyboard {
  padding: 0 0 0 0;
}

ul#keyboard li {
  list-style: none;
  float: left;
  display: inline;
  position: relative;
  text-align: center;
}

.white-key {
  display: block;
  padding: 0;
  height: 100px;
  box-sizing: border-box;
  box-shadow: inset 0 0px 0px white, inset 0 0px 0px #fff,
    inset 0px 0px 0px white, inset 0px 0px 0px #fff,
    0 1px 29px rgba(0, 0, 0, 0.3);
  background: white;
  border-width: 1px 1px 2px;
  border: 1px solid #ddd;
  border-color: #7d7d7d;
  border-radius: 0 0 3px 3px;
}

.white-key:hover {
  background: #eee;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  height: 99px;
}

ul#keyboard li:last-child > .white-key {
  background: #f1f1f1;
}

.white-key.checked {
  background: #7dadd9 !important;
}

.white-key.interval {
  background: lightgreen !important;
}

.c-key,
.d-key,
.e-key {
  width: 20px;
}

.f-key,
.g-key,
.a-key,
.b-key {
  width: 21px;
}

.keyname {
  position: absolute;
  font-size: small;
  bottom: 2px;
  width: 90%;
}

.keyname > sub {
  /* margin-left: -4px; */
  font-size: xx-small;
  color: lightslategray;
}

.black-key {
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 12px;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4),
    0 2px 3px rgba(0, 0, 0, 0.4);
  background: #333;
  border-width: 1px 2px 7px;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  border-radius: 0 0 2px 2px;
}

.black-key > .keyname {
  display: none;
}

.black-key:hover {
  background: #777;
  border-color: #555 #333 #555 #555;
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.4),
    0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4), 0 1px 0px #000;
}

.black-key.checked {
  background: #7dadd9;
  border-color: #7dadd9 #5397d8 #3d72a3 #7dadd9;
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.4),
    0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4),
    0 1px 0px #7dadd9;
}

.black-key.interval {
  background: lightgreen;
  border-color: lightgreen #5397d8 #3d72a3 #7dadd9;
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.4),
    0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4),
    0 1px 0px #7dadd9;
}

.white-key:focus,
.black-key:focus {
  /* background: #7dadd9; */
  border-color: #7dadd9;
  border-width: 2px;
  outline: none;
}

.cs-key {
  left: -8px;
}

.ds-key {
  left: -4px;
}

.fs-key {
  left: -9px;
}

.gs-key {
  left: -6px;
}

.as-key {
  left: -3px;
}
