#dissonance {
  text-align: left;
}

#beats-table-left h2,
#beats-table-right h2 {
  font-size: 1.1rem;
  text-align: left;
}

#tuning-target {
  color: #00ffff;
  background: black;
  width: 1070px;
}

#signal-wrapper,
#filtered-signal {
  width: 1070px;
}

#piano-tuner-page #signal-wrapper,
#piano-tuner-page #filtered-signal {
  background-color: black;
  height: 75px;
}
