#partials {
  margin-top: 12px;
  text-align: left;
  font-size: small;
}

#partials-list {
  height: 320px;
  overflow: scroll;
}

#partials-list > li {
  list-style-type: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#model-spectrum-wrapper,
#model-spectrum,
#model-spectrum-info {
  width: 750px;
}

#model-spectrum-wrapper,
#model-spectrum {
  background-color: black;
  height: 300px;
}

#model-info-container {
  margin-right: 12px;
}

#model-partials-container {
  display: flex;
}

#model-spectrum-info {
  color: #00ffff;
  background: black;
  margin-top: 12px;
}

li.unconfident {
  color: red;
}

.interval-name,
.interval-partials,
.interval-details,
.interval-cp,
.interval-beats {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding-left: 6px;
}

.interval-name,
.interval-cp {
  width: 50px;
}

.interval-partials {
  width: 40px;
}

.interval-details {
  width: 270px;
}

.interval-beats {
  width: 60px;
  text-align: right;
  padding-right: 6px;
}

#beats-table-left {
  margin-top: 15px;
  display: inline;
  float: left;
}

#beats-table-right {
  margin-top: 15px;
  display: inline;
  float: right;
  padding-right: 40px;
}
