ul#tuners {
  padding: 11px 0 0 5px;
  height: 225px !important;
}

ul#tuners li {
  list-style: none;
  float: left;
  display: inline;
  position: relative;
  text-align: center;
}

.cents-slider {
  width: 12px;
  height: 210px;
}

.rc-slider-handle:focus {
  background: red;
}

.rc-slider-track.highlight {
  background: red;
}
